.label{
  font-size: 1em;
  font-weight: bold;
  color: #000;
}

.App{
  text-align: center;
  margin-top: 20px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center-hz{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;;
}

.header{
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  display:block;
}